{% extends 'base.html' %}

{% load l10n %}
{% load i18n %}

{% block title %} Contact create{% endblock title %}

{% block content %}

<h1>CREATE Contact</h1>
<p>This is the add contact page</p>

<div>
    <form action="{% url 'contacts:contact_create' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Contact</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            
            <label for="name">Name</label><br>
            <input type="text" name="name" id="id_name" value="">
            <br>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="id_email" value="">
            <br>
            <label for="mobile">Mobile</label><br>
            <input type="text" name="mobile" id="id_mobile" value="">
            <br>
            <label for="company">Company</label><br>
            <input type="text" name="company" id="id_company" value="">
            <br>
            <label for="designation">Designation</label><br>
            <input type="text" name="designation" id="id_designation" value="">
            <br>
            <label for="id_notes">Notes</label><br>
            <textarea name="notes" cols="40" rows="3" maxlength="300" id="id_notes"></textarea>

            {# {{ form }} #}

        </fieldset>
        <input type="submit" value="Save">
    </form>

</div>
{% endblock content %}